.scrollTable {
  :global {
    .ant-table-body {
      scrollbar-width: none;
    }
    ::-webkit-scrollbar {
      width: 0 !important;
      height: 0 !important;
    }
  }
}

.scrollTableMouseOver {
  //   :global {
  //     .ant-table-body {
  //       scrollbar-width: 12px;
  //     }
  //     ::-webkit-scrollbar {
  //       width: 12px;
  //       height: 12px;
  //     }
  //   }
}
